<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }} | {% endif %}Jay Rodge | Staff Developer Advocate for LLMs at NVIDIA</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}A simple, whitespace theme for academics. Based on [*folio](https://github.com/bogoli/-folio) design.{% endif %}">

  <link rel="icon" href="/favicon.svg" type="image/svg+xml">

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head> 